@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: white;
  @apply dark:bg-black bg-white;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}


::-webkit-scrollbar-thumb {
  background-color: rgba(200, 200, 200, 0.2);
  border-radius: 4px;

}

::-webkit-scrollbar-thumb:hover {
  background-color: --scrollbar-hover-color;
}

@layer components {
  .main-content {
    @apply p-4 h-[calc(100vh-54px)] overflow-auto w-full;
  }

  .loader {
    width: 60px;
    aspect-ratio: 1;
    animation: l5-0 1s infinite steps(1);
  }

  .loader::before,
  .loader::after {
    content: "";
    position: absolute;
    inset: 0 50% 50% 0;
    transform-origin: bottom right;
    animation:
      l5-1 0.5s infinite linear alternate,
      l5-2 0.5s infinite steps(1) alternate;
  }

  .loader::after {
    --s: -1, -1;
  }

  @keyframes l5-0 {
    0% {
      transform: scale(1, 1) rotate(0deg)
    }

    50% {
      transform: scale(1, -1) rotate(90deg)
    }
  }

  @keyframes l5-1 {
    0% {
      transform: scale(var(--s, 1)) perspective(150px) rotateX(0deg)
    }

    100% {
      transform: scale(var(--s, 1)) perspective(150px) rotateX(180deg)
    }
  }

  @keyframes l5-2 {
    0% {
      background: #25b09b
    }

    50% {
      background: #514b82
    }
  }

  .loader-wrapper {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    display: flex;
    flex-direction: column;
    right: 0;
    top: 0;
    z-index: 99999;
  }

  .loader-inner {
    bottom: 0;
    height: 60px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
  }

  .loader-line-wrap {
    animation: spin 2000ms cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
    box-sizing: border-box;
    height: 50px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transform-origin: 50% 100%;
    width: 100px;
  }

  .loader-line {
    border: 4px solid transparent;
    border-radius: 100%;
    box-sizing: border-box;
    height: 100px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
  }

  .loader-line-wrap:nth-child(1) {
    animation-delay: -50ms;
  }

  .loader-line-wrap:nth-child(2) {
    animation-delay: -100ms;
  }

  .loader-line-wrap:nth-child(3) {
    animation-delay: -150ms;
  }

  .loader-line-wrap:nth-child(4) {
    animation-delay: -200ms;
  }

  .loader-line-wrap:nth-child(5) {
    animation-delay: -250ms;
  }

  .loader-line-wrap:nth-child(1) .loader-line {
    border-color: hsl(0, 80%, 60%);
    height: 90px;
    width: 90px;
    top: 7px;
  }

  .loader-line-wrap:nth-child(2) .loader-line {
    border-color: hsl(60, 80%, 60%);
    height: 76px;
    width: 76px;
    top: 14px;
  }

  .loader-line-wrap:nth-child(3) .loader-line {
    border-color: hsl(120, 80%, 60%);
    height: 62px;
    width: 62px;
    top: 21px;
  }

  .loader-line-wrap:nth-child(4) .loader-line {
    border-color: hsl(180, 80%, 60%);
    height: 48px;
    width: 48px;
    top: 28px;
  }

  .loader-line-wrap:nth-child(5) .loader-line {
    border-color: hsl(240, 80%, 60%);
    height: 34px;
    width: 34px;
    top: 35px;
  }

  input.p-column-filter {
    @apply px-2 py-[5px];
  }

  @keyframes spin {
    0%,
    15% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  table {
    @apply w-full;
  }

  /* thead {
    @apply hidden lg:table-header-group;
  } */

  /* tr {
    @apply max-w-full block relative border-b-4 border-gray-100 p-4
      lg:table-row lg:border-b-0;
  }

  tr:last-child {
    @apply border-b-0;
  } */

  /* th {
    @apply lg:text-left lg:py-2 lg:px-3;
  } */

  /* td {
    @apply flex justify-between text-right p-2 align-top border-b border-gray-100 transition-all duration-300 ease-out 
      lg:table-cell lg:text-left lg:p-4 lg:align-middle lg:border-b-0;
  } */

  /* tr:nth-child(odd) td {
    @apply lg:bg-slate-100;
  } */

  /* td:last-child {
    @apply border-b-0;
  }

  tbody tr:hover td {
    @apply lg:bg-slate-400;
  }

  tbody tr:hover {
    @apply lg:border lg:border-white lg:rounded;
  } */

  /* td:before {
    content: attr(data-label);
    @apply font-semibold pr-3 text-left lg:hidden;
  } */

  td.checkbox-cell,
  th.checkbox-cell {
    @apply lg:w-5;
  }

  td.progress-cell progress {
    @apply flex w-2/5 self-center lg:w-full;
  }

  td.image-cell {
    @apply border-b-0 lg:w-6;
  }

  td.image-cell:before,
  td.actions-cell:before {
    @apply hidden;
  }

  td.image-cell .image {
    @apply w-24 h-24 mx-auto lg:w-6 lg:h-6;
  }

  .table-pagination {
    @apply px-6 py-3 border-t border-gray-100;
  }

  .p-menuitem .active-route {
    @apply !font-bold
  }
}

.list-table table tr:hover td {
  background-color: transparent;
}

progress {
  @apply h-3 rounded-full overflow-hidden;
}

progress::-webkit-progress-bar {
  @apply bg-gray-200;
}

progress::-webkit-progress-value {
  @apply bg-blue-500;
}

progress::-moz-progress-bar {
  @apply bg-blue-500;
}

progress::-ms-fill {
  @apply bg-blue-500 border-0;
}